.overall {
  background-color: #48D1CC;
}

.column1 { s
  width: 300px;
  float: left;
  text-align: center;
  border-style: solid;
  border-color: yellow;
  margin: 12px;
  padding: 4px;
}

.column2 {
  width: 300px;
  float: left;
  text-align: center;
  background-color: #FF69B4;
  border-style: solid;
  border-color: yellow;
  margin: 12px;
  padding: 4px;
}

.column3 {
  width: 300px;
  float: left;
  text-align: center;
  border-style: solid;
  border-color: yellow;
  margin: 12px;
  padding: 4px;
}
