.overall {
  background-color: #48D1CC;
  float: left;
  text-align: center;
}

div {
  width: 27%;
  height: 700px;
  float: left;
  text-align: center;
  border-style: solid;
  border-color: yellow;
  margin: 12px;
  padding: 6px;
}

.column1 {

}

.column2 {
  background-color: #FF69B4;
}

.column3 {

}

h3 {
  color: #FF69B4;
}

.column2 h3 {
   color: #48D1CC;
 }
 h1 {
   color: yellow;
 }
